
 body {
    margin: 0px;
 }

 .dropbtn {
    background-color: black;
    border: none;
    cursor: pointer;
    outline: 0;
    padding: 0px;
    padding-left: 5px;
    margin: 0px;
    font-size: 14px;
}

.dropdown {
  padding: 0px;
  padding-right: 10px;
  font-size: 14px;
}

.dropdown-content {
    display: none !important;
    background-color: black;
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
}

/* Links inside the dropdown */
.dropdown-content p {
    text-decoration: none;
    margin: 0px;
}

.show {
  display: block !important;
}